{% layout none %}
{% comment %}

  NOTE: If there are specific nonexistent URLs which your visitors are likely to request on a regular basis (maybe due to old links from elsewhere on the web), you can set up URL redirection by clicking on your Navigation tab and following the link in the sidebar.

{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>



    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Not Found</title>
    
    <style type="text/css">
      
      body {
        margin: 0;
        text-align: center;
        font: 1em/1.3em "Lucida Grande", Arial, Arial, sans-serif; 
        background-color: #efefef ;
      }
      
      div.outer {
        font-size: 75%;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 400px;
        height: 300px;
        margin-left: -200px; 
        margin-top: -150px;
      }
      
      .dialog { 
        padding: 0;
        background-color: white;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ccc;
      }
      
      div.error {
        margin-left: 0px;
        padding-left: 3px;
        border-left: 2px solid #aaa;
        overflow: auto;
        background: #eee;
      }
      
      h1 {
        font-size: 100%;
        background: #000;
        color: white;
        margin: 0;
        padding: 5px 10px;
      }
      
      .block {
        text-align: left; 
        width: 300px; 
        margin: 0 auto;
        margin-top: 2em;
      }
      
      h1 span {
        float: right;
        font-size: 75%;
        color: #666;
      }
      
    </style>
    
</head>

<body>
<script type="text/javascript">
  var _kmq = _kmq || [];
  (function(){function _kms(u,d){if(navigator.appName.indexOf("Microsoft")==0 && d)document.write("<scr"+"ipt defer='defer' async='true' src='"+u+"'></scr"+"ipt>");else{var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src=u;(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);}}_kms('https://i.kissmetrics.com/i.js');_kms('http'+('https:'==document.location.protocol ? 's://s3.amazonaws.com/' : '://')+'scripts.kissmetrics.com/b96cbfe9877487f67277f0034ef509c73f65d205.1.js',1);})();
</script>
  
<div class="outer">
  
    <div class="dialog" style="text-align: center;">
      <h1><span>404 </span>Not Found</h1>
      
      <div class="block">
        <p>The page you were looking for does not exist.</p>
      </div>
      
      <div class="block">
        <form action="{{ shop.url }}/search" method="get" accept-charset="utf-8">
          <p>Maybe you want to try the search instead?</p>
          <input type="text" name="q" value="{% if handle %}{{ handle }}{% else %}Search...{% endif %}" onfocus="if(this.value == 'Search...') { this.value = '' }" />
          <input type="submit" value="Search"/>
        </form>
      </div>
      
      <div class="block">
        <p>Back to <a href="{{ shop.url }}">{{ shop.name }}</a> |
                   <a href="#" onClick="history.back(); return false;">previous page</a>
        </p>
      </div>
      
   </div>
</div>
</body>
</html>